@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    font-family: 'Outfit', sans-serif;
    --box-background: hsl(0, 0%, 100%);
    --background-color: hsl(212, 45%, 89%);
    --text-base: hsl(220, 15%, 55%);
    --text-dark: hsl(218, 44%, 22%);
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box {
    background-color: var(--box-background);
    border-radius: 1.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem 3rem 1rem;
    width: 300px;
    text-align: center;
}
.box img {
    width: 300px;
    border-radius: 1rem;
}
.box h1 {
    color: var(--text-dark);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
}
.box p {
    color: var(--text-base);
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}